# Supabase Configuration
VITE_SUPABASE_URL=https://hkwckdsweadiiravfrwz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhrd2NrZHN3ZWFkaWlyYXZmcnd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY4NDkxMTcsImV4cCI6MjA4MjQyNTExN30.SDQvgnF1DU_WXbqsh4kI0wEEWOnJkAvQ5Kj4GprHsQo
